<template>
  <div class="flex flex-row">
    <div class="card-details inline-flex flex-col">
      <svg
        :height="item.height"
        :width="item.width"
        :viewBox="`0 0 ${item.width || 0} ${item.height || 0}`"
        preserveAspectRatio="none"
      >
        <image
          :href="item.coco_url"
          :height="item.height"
          :width="item.width"
        />
        <polygon
          v-for="(xy, idx) in item.dimensions"
          :key="idx"
          class="cursor-pointer"
          @mouseover="hoveredObject = idx"
          @mouseleave="hoveredObject = null"
          @click="alert(idx)"
          :points="xy.join(',')"
          :viewBox="`0 0 ${item.width} ${item.height}`"
          stroke="1"
          :fill="highlightColor"
          :fill-opacity="hoveredObject == idx ? highlightOpacity/100 : opacity/100"
          stroke-width="4"
          
        ></polygon>
      </svg>

      <h1>{{ item.file_name }}</h1>
      <!-- list the items -->
      <h2>Objects and their amounts:</h2>
      <div class="inline-flex flex-col">
        <span
          class="font-lg cursor-pointer"
          @mouseenter="hoveredObject = item"
          @mouseleave="hoveredObject = null"
          v-for="(cnt, item) in item.object_counts"
          :key="item"
          >{{ item }}: {{ cnt }}</span
        >
      </div>
      <div class="mt-1">
        <b>Date: {{ item.date }}</b>
      </div>
      <div class="mt-1">
        <button @click="goBack" class="btn">Go Back</button>
      </div>
    </div>
    <div class="card-details w-100">
      <h1>Image Options</h1>
      <div class="flex flex-col">
        <!-- color picker -->
        <div class="inline-flex flex-row">
          <label>Highlight Color:</label>
          <input
            type="color"
            v-model="highlightColor"
            @change="setItem('highlightColor', $event.target.value)"
          />
        </div>

        <!-- Opacity Slider -->
        <div class="inline-flex flex-row">
          <label>Opacity:</label>
          <input
            type="range"
            min="0"
            max="100"
            v-model="opacity"
            @change="setItem('opacity', $event.target.value)"
          />
        </div>

        <!-- Opacity Slider -->
        <div class="inline-flex flex-row">
          <label>Higlight Opacity:</label>
          <input
            type="range"
            min="0"
            max="100"
            v-model="highlightOpacity"
            @change="setItem('highlightOpacity', $event.target.value)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Data from "../assets/data.json";
const { data } = Data;

export default {
  name: "DetailsView",
  data() {
    let item = data.find((i) => i.id == this.$route.params.id) || {};
    if (!item) {
      return this.$router.replace("/");
    }

    let object_counts = {};
    let dimensions = {};

    let object_names = item?.objects?.map((i) => {
      let name = i.name;
      // get the dimensions of the object
      dimensions[name] = i.mask.map(
        (dimension) => dimension[0] + "," + dimension[1]
      );

      // get the object counts
      if (!object_counts[name]) {
        object_counts[name] = 1;
      } else {
        object_counts[name] += 1;
      }

      return name;
    });

    return {
      item: {
        ...item,
        object_names: [...new Set(object_names)],
        object_counts,
        dimensions,
      },
      hoveredObject: null,
      highlightColor: localStorage.getItem("highlightColor") || "red",
      opacity: (localStorage.getItem("opacity") || 100),
      highlightOpacity: (localStorage.getItem("highlightOpacity") || 100),
    };
  },
  methods: {
    goBack() {
      return window.history.length > 1
        ? // go back if there is a history
          this.$router.back()
        : // go to dashboard if there is no history
          this.$router.push("/");
    },
    alert(name) {
      return alert(name);
    },
    setItem(key, val) {
      localStorage.setItem(key, val);
    },
  },
  created() {
    let id = this.$route.params.id;
    if (!data.find((i) => i.id == id)) {
      return this.$router.replace("/");
    }
  },
  mounted() {
  },
};
</script>
