<template>
  <div class="container">
    <div class="flex flex-col">
      <h2>Filter Images By</h2>
      <div class="flex flex-row input-group">
        <span class="mr-1 bold">Date:</span>
        <input type="date" v-model="filterDate" />
      </div>
      <div class="flex flex-row mt-2 input-group">
        <span class="mr-1 bold">Object:</span>
        <input type="text" v-model="filterText" placeholder="Enter something to filter.." />
      </div>
    </div>
    <div class="mt-2">
      <button
      @click="filterImages = !filterImages;"
      class="btn">{{ !filterImages ? 'Filter Images' : 'Reset Filter' }}</button>
    </div>
    
    <h1>Here are the images from the COCO Dataset:</h1>
    
    <div class="img-container">
      <div
      @click="goToDetails(item.id)"
      @mouseover="showItems=item.id"
      @mouseleave="showItems=0"
      class="card cursor-pointer relative" v-for="(item, idx) in images" :key="'images-' + idx">
        <img :src="item.coco_url" />
        <div class="flex flex-col">
          <span class="card-title">{{item.file_name}}</span>
          <p v-if="showItems == item.id">Objects: {{getObjectNames(item.id).join(', ')}}</p>
        </div>
        <span class="absolute bottom-0 mb-1">Date: {{item.date}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import Data from "../assets/data.json";
const { data } = Data;

export default {
  name: "HomeView",
  data() {
    return {
      data,
      showItems: 0,
      filterDate: '2013-11-18',
      filterImages: false,
      filterText: ''
    };
  },
  methods: {
    goToDetails(id) {
      this.$router.push({ name: 'details', params: { id } })
    },
    getObjectNames(id) {
      return [...new Set(data.find(item => item.id == id).objects.map(i => i.name))]
    }
  },
  computed: {
    images() {
      if (!this.filterImages) {
        return this.data;
      }

      return this.data.filter(item => {
        let date = new Date(item.date);
        let dateFilter = new Date(this.filterDate)

        let imgItems = this.getObjectNames(item.id).join(',');
        let matchedText = imgItems.match(this.filterText);

        return this.filterText ? ((date < dateFilter) && matchedText) : (date < dateFilter);
      })
    }
  }
};
</script>
