/* common styling */

.container {
    width: 100%;
    padding: 10px;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.bottom-0 {
    bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-3 {
    margin-right: 3em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.bold {
    font-weight: bold;
}

.font-lg {
    font-size: 2em;
}

.input-group span, input {
    padding: 0.375rem;
}

input {
    display: block;
    font-size: 1rem;
    padding: 0.375rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn {
    border-radius: 5px;
    background-color: #800080;
    color: white;
    min-width: 100px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #510080;
}

/* ./common styling */

.img-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    margin: 10px;
    min-height: 400px;
    max-width: 250px;
    border: 1px solid #31087B;
    border-radius: 3px;
}

.card img {
    width: 250px;
    height: 250px;
}

.card-details {
    padding: 10px;
    margin: 10px;
    border: 1px solid #31087B;
    border-radius: 3px;
}

.card-title {
    font-weight: bold;
    font-size: 25px;
    color: #100720;
}